<h1>All Cafes</h1>
<ul>
  <% @cafes.each do |cafe| %>
    <li>
      <%= link_to cafe.cafe_name, cafe_path(cafe) %>
    </li>
  <% end %>
</ul>

<!-- app/views/cafes/index.html.erb -->
<h2>お店一覧</h2>
<ul>
  <% @cafes.each do |cafe| %>
    <li>
      <strong><%= cafe.name %></strong><br>
      <%= cafe.description %><br>
      <%= cafe.address %>
    </li>
  <% end %>
</ul>
